- hosts: "{{ target|default('localhost') }}"
  tasks:
  - name: delete 6 instances
    ec2:
      state: absent
      instance_ids:
{% for item in ec2_info_one.instances %}
      - {{ item.id }}
{% endfor %}
{% for item in ec2_info_two.instances %}
      - {{ item.id }}
{% endfor %}

