[mongo-cluster:children]
west1
west2

[west1]
{% for item in ec2_info_one.instances %}
{{ item.public_dns_name }} ansible_host={{ lookup('ip', item.public_dns_name) }} ansible_ssh_private_key_file={{ ssh_private_key }} ansible_ssh_user={{ ssh_user }}
{% endfor %}

[west2]
{% for item in ec2_info_two.instances %}
{{ item.public_dns_name }} ansible_host={{ lookup('ip', item.public_dns_name) }} ansible_ssh_private_key_file={{ ssh_private_key }} ansible_ssh_user={{ ssh_user }}
{% endfor %}

[config-servers]
{% for item in ec2_info_one.instances %}
{% if loop.index < 3 %}
{{ item.public_dns_name }} ansible_host={{ lookup('ip', item.public_dns_name) }} ansible_ssh_private_key_file={{ ssh_private_key }} ansible_ssh_user={{ ssh_user }}
{% endif %}
{% endfor %}
{% for item in ec2_info_two.instances %}
{% if loop.index == 1 %}
{{ item.public_dns_name }} ansible_host={{ lookup('ip', item.public_dns_name) }} ansible_ssh_private_key_file={{ ssh_private_key }} ansible_ssh_user={{ ssh_user }}
{% endif %}
{% endfor %}

[mongos-server]
{% for item in ec2_info_one.instances %}
{% if loop.index == 1 %}
{{ item.public_dns_name }} ansible_host={{ lookup('ip', item.public_dns_name) }} ansible_ssh_private_key_file={{ ssh_private_key }} ansible_ssh_user={{ ssh_user }}
{% endif %}
{% endfor %}
